.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
  text-align: initial;
}

.body {
  width: 40%;
  min-width: 240px;
  user-select: none;

  .item {
    cursor: pointer;

    &.finished {
      color: #ddd !important;
      text-decoration: line-through;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
      margin-bottom: 15px;
    }
  }

  .title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
  }

  .time {
    font-size: 12px;
  }

  .delete {
    float: right;
    margin-right: 10px;
    font-size: 15px;

    &:hover {
      color: #f00;
    }
  }
}

.form {
  margin-left: 10px;
  width: 30%;
  min-width: 220px;
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 4px;
}
